.grid{
    position: relative;
    border: solid black 2px;
    margin: auto;
}

.inside-grid{
    position: absolute
}

.block{
    background-color: blue;
}

.user{
    background-color: teal;
}

.ball{
    background-color: red;
}